@import "../assets/css/reset";
@import "../assets/css/material.css";
@import "../assets/css/github-markdown-css";
@import "../modules/talkbox/talkbox";
@import "../modules/talklist/talklist";
@import "../modules/talk/talk";
@import "./setting/setting";
@import "../assets/css/prism.css";

@font-face {
    font-family: 'iconfont';
    src: url('../assets/fonts/iconfont.woff') format('woff');
}

.icon {
    display: inline-block;
    font-family: 'iconfont';
    font-style: normal;
    vertical-align: middle;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    color: #333;
    background: #F6F6F6;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    -webkit-user-select: none;
}

